@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1>Página Inicial da Aba de Clientes</h1>
    <br>
    <div class="text-center">
        <a class="btn btn-primary" asp-controller="Home" asp-action="Acessar">ACESSAR</a>
    </div>
</div>
