@model TextoModel;

@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo <strong>Otávio</strong></h1>
    <br>
    <form asp-action="MostrarTexto">
      <div class="form-group">
        <label for="exampleInputEmail1">Texto</label>
        <input type="text" class="form-control" asp-for="Texto" placeholder="Enter email">
      </div>
      <br>
      <div style="align-items: center;">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
</div>
